html {
    font-family: Helvetica;
    color: #1a507b;
    height: 100%;
}
body {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
}

button:hover, .button:hover {
    background-color: #60824e;
}
button, .button {
    border: 1px solid #547d3d;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #7fa76a;
    cursor: pointer;
    margin: 7px 0;
    color: white;
    transition: 0.5s all;
}

.msg-window {
    padding: 1% 1% 1% 1%;
    border-radius: 8px;
    font-family: Helvetica;
    color: #1a507b;
    font-size: 17px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.msg-window .container > div:not(.self) > span.nick {
    cursor: pointer;
}
input[name="msg-input"] {
    background-color: #fff;
    display: inline-block;
}
input[type="text"] {
    font-size: 16px;
    padding: 8px 36px 8px 8px;
    width: 100%;
    border: 1px solid #126b1c;
    box-sizing: border-box;
}

.msg-window .container {
    flex-grow: 1;
    padding-bottom: 20px;
    overflow-y: scroll;
}
.msg-window .container > div {
    padding: 2px 0;
    word-wrap: break-word;
    word-break: break-all;
}
.msg-window .container > div > span {
    font-size: 0.9em;
    color: #70b589;
}
.msg-window .container > div.self > span {
    color: #00aaff;
}
.msg-window .container > div > time {
    font-size: 0.9em;
    color: #537539;
}
.msg-btm {
    margin-top: 10px;
    display: none;
    align-items: center;
}
.msg-window > h1 {
    margin: 1% 1% 2% 1%;
    border-bottom: 1px solid #cad1dc;
    padding-bottom: 50px;
    position: relative;
    font-size: calc(21px + 1vw);
    text-align: center;
}

.users {
    border-left: 1px solid rgba(59, 95, 76, 0.51);
    flex-grow: 1;
    flex-basis: 200px;
    max-width: 200px;
    min-width: 200px;
    padding: 0% 1%;
    overflow: hidden;
    display: none;
}
.users .users-container > div:nth-child(even) {
    background-color: #e0e8e2;
}
.users .user {
    padding: 7px 9px;
    font-size: 16px;
    margin: 0;
}
.users > div > p {
    border-bottom: 1px solid #cad1dc;
    padding-bottom: 12px;
}

.r-actions {
    position: absolute;
    width: 500px;
    right: 0;
    text-align: right;
    top: 26px;
    display: none;
}

.r-actions button {
    padding: 6px 11px;
}

input[name="iChangeNick"] {
    display: none;
    width: 10px;
    transition: all 1s;
}

.smiley {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: 32px;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.sm1 {
    background-image: url('../i/smiles/smile_1.png');
}

.sm2 {
    background-image: url('../i/smiles/smile_2.png');
}

.sm3 {
    background-image: url('../i/smiles/smile_3.png');
}

.sm4 {
    background-image: url('../i/smiles/smile_4.png');
}

.sm5 {
    background-image: url('../i/smiles/smile_5.png');
}

.sm6 {
    background-image: url('../i/smiles/smile_6.png');
}

.sm7 {
    background-image: url('../i/smiles/smile_7.png');
}

.sm8 {
    background-image: url('../i/smiles/smile_8.png');
}

.sm9 {
    background-image: url('../i/smiles/smile_9.png');
}

button[name="submitMessage"] {
    width: 95%;
    display: inline-block;
    flex: 1 0 15%;
}

.container > div > a > img {
    max-width: 150px;
    max-height: 150px;
}

.msg-input-cnt {
    flex: 1 1 80%;
    /*margin-right: 10px;*/
    position: relative;
    width: 95%;
}

.smiles-cnt-opener {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 0px;
    right: 1px;
    background: url(../i/smiles/smile_1.png) no-repeat;
    background-size: 28px;
    cursor: pointer;
    filter: grayscale(14%);
    background-position: 3px 4px;
}
.smiles-cnt-opener:hover + .smiles-cnt {
    display: block;
}

.smiles-cnt {
    position: absolute;
    width: 150px;
    text-align: center;
    top: -117px;
    right: 0px;
    background-color: #e1eaea;
    border: 1px solid #126b1c;
    padding: 10px;
    display: none;
}
.smiles-cnt:hover {
    display: block;
}
.smiles-cnt > span {
    cursor: pointer;
}

@media (min-width: 600px) {
    .users {
        display: block;
    }

    .msg-window > h1 {
        padding-bottom: 32px;
        font-size: 30px;
        margin: 10px 0 16px;
        text-align: left;
    }

    .msg-input-cnt {
        margin-right: 10px;
    }

    .r-actions {
        top: -6px;
    }
}

.notification {
    font-size: 12px;
    color: #a0b9c7;
}